<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=meta charset=" UTF-8>
    <!-- Configuración de la codificación de caracteres a UTF-8 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Moo+Lah+Lah&family=Praise&family=Vibur&family=Wendy+One&display=swap"
        rel="stylesheet">
    <!-- Enlace a la fuente Nunito desde Google Fonts -->
    <script src="https://cdn.tailwindcss.com"></script> <!-- Inclusión del script de Tailwind CSS desde CDN -->
    <link rel="stylesheet" href="CSS/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- Enlace a una hoja de estilo externa llamada style.css en la carpeta CSS -->
    <title>Bienvenida</title>
    
   


    <body> <!-- Cuerpo de la página con clases de Tailwind CSS para diseño flexible -->


    <nav class="bg-[#E3EEFF] h-20 w-full text-white flex flex-col md:flex-row md:justify-between md:px-7 md:py-4 text-xl">
        
    <div class="flex justify-between top-0 w-full ">
        <div class="flex justify-between items-center ml-1">
        <h1 style="font-family: 'Moo Lah Lah', sans-serif;" class="text-black md:p-5 text-3xl">P&M</h1>
        <img class="w-[60px] h-[60px]" src="Recursos/Logo.png" alt="">
    </div>

    <div class="md:block hidden">
        <button class="w-[50px] h-[50px]"><img src="Recursos/face.png" alt=""></button>
        <button class="w-[50px] h-[50px]"><img src="Recursos/insta.png" alt=""></button>
        <button class="w-[50px] h-[50px]"><img src="Recursos/twiter.png" alt=""></button>
    </div>
    <div class="flex items-center md:space-x-5 space-x-0">

        <div class="flex flex-col items-center">
            <button class="w-[50px] h-[50px] md:block "><img src="Recursos/sobre-nosotros.png" alt=""></button>
        <h1 class="font-sans-serif text p-2 md:p-0 font-[Praise] text-black text-sm md:text-lg">Sobre Nosotros</h1>
        </div>
        <div class="flex flex-col items-center">
            <button class="w-[50px] h-[50px] md:block "><img src="Recursos/perfil.png" alt=""></button>
        <h1 class="font-sans-serif text p-2 md:p-0  font-[Praise] text-black text-sm md:text-lg">Perfil</h1>
        </div>
        <div class="flex flex-col items-center">
            <button class="w-[50px] h-[50px] md:block"><img src="Recursos/Contacto.png" alt=""></button>
        <h1 class="font-sans-serif text p-2 md:p-0  font-[Praise] text-black text-sm md:text-lg">Contacto</h1>
        </div>
    </div>
</nav>

<div class="bg-cover bg-center md:bg-no-repeat md:h-screen relative h-auto" style="background-image: url('Recursos/Fondo_Dash.webp') ">
<div class="bg-gray-800 text-white p-4 relative ">
    <div class="lg:hidden absolute top-full left-0 w-1/4 sm:w-1/2 md:w-1/2 text-white p-4 h-auto" id="menu">
      <ul class="flex flex-col space-y-4">
        <li class="flex items-center"><a href="#" class="flex items-center font-[Praise] text-zinc-950">  <img src="Recursos/perfil.png" alt="Logo Usuario" class="w-10 h-7 mr-2"> Perfil de usuario</a></li>
        <li class="flex items-center"><a href="#" class="flex items-center font-[Praise] text-zinc-950">  <img src="Recursos/Perro.png" alt="Logo Usuario" class="w-10 h-7 mr-2">Perfil de perro</a></li>
        <li class="flex items-center"><a href="#" class="flex items-center font-[Praise] text-zinc-950">  <img src="Recursos/Gato.png" alt="Logo Usuario" class="w-10 h-7 mr-2">Perfil de gato</a></li>
        <li class="flex items-center"><a href="#" class="flex items-center font-[Praise] text-zinc-950">  <img src="Recursos/Carnet.png" alt="Logo Usuario" class="w-10 h-7 mr-2">Carnet</a></li>
        <li class="flex items-center"><a href="#" class="flex items-center font-[Praise] text-zinc-950 ">  <img src="Recursos/Clinica.png" alt="Logo Usuario" class="w-10 h-7 mr-2">Clinica</a></li>
        <li class="flex items-center"><a href="#" class="flex items-center font-[Praise] text-zinc-950">  <img src="Recursos/Propietario.png" alt="Logo Usuario" class="w-10 h-7 mr-2">Propietario</a></li>
        <li class="flex items-center"><a href="#" class="flex items-center font-[Praise] text-zinc-950">  <img src="Recursos/Vacunaciones.png" alt="Logo Usuario" class="w-10 h-7 mr-2">Vacunación</a></li>
        <li class="flex items-center"><a href="#" class="flex items-center font-[Praise] text-zinc-950">  <img src="Recursos/Datos_Clinicos.png" alt="Logo Usuario" class="w-10 h-7 mr-2">Cita medica</a></li>

      </ul>
    </div>


    <div class="lg:hidden flex items-center">
        <button id="menuButton" class="text-white focus:outline-none">
            <img src="URL_DE_TU_IMAGEN" alt="Menú" class="w-6 h-6">
        </button>
    </div>


</div>
         

<!-- Contenedor principal 2x2 -->
<div class="flex items-center justify-center py-10">
    <div class="grid grid-cols-2 gap-4 ml-40 mr-4">
      <!-- Div 1 -->
      <div class="bg-blue-300 p-4 h-40 sm:h-40 opacity-70">
        Contenido del Div 1
      </div>
      <!-- Div 2 -->
      <div class="bg-green-300 p-4 h-40 opacity-70">
        Contenido del Div 2
      </div>
      <!-- Div 3 -->
      <div class="bg-yellow-300 p-4 h-40 opacity-70">
        Contenido del Div 3
      </div>
      <!-- Div 4 -->
      <div class="bg-red-300 p-4 h-40 opacity-70">
        Contenido del Div 4
      </div>
    </div>
  </div>
</div>

</body>
</html>

<script>
    const menuButton = document.getElementById('menuButton');
    const menu = document.getElementById('menu');

    menuButton.addEventListener('click', () => {
      menu.classList.toggle('hidden');
      
    });
  </script>





