<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet"> 
    <script src="https://cdn.tailwindcss.com"></script> 
    <link rel="stylesheet" href="CSS/style.css"> 
    <title>P&M</title> 
    <title>Exito</title>
</head>
<body class="bg-cover bg-center" style="background-image: url('Recursos/Fondo_Inicio.jpg');"> 
    <nav class="bg-[#35312E] italic font-serif w-full text-white flex flex-col md:flex-row md:justify-between md:px-7 md:py-2 text-xl">
            <h1 class="font-sans-serif">P&M</h1>

        <div class="flex flex-col md:flex-row text-center md:gap-5">
            <ul class="py-1 hover:underline">
                <li><a href="index.html" class="font-sans-serif">Registro</a></li>
            </ul>
        </div>
    </nav>




        <!-- Cuerpo de la página con clases de Tailwind CSS para diseño flexible -->
<div class=" py-2 mt-20 mx-10 sm:mt-20 sm:mx-10 md:mx-40 " >
    <div class=" p-10 rounded  bg-[#854d0e] bg-opacity-80  ">
        <div class="flex flex-col md:flex-row text-center md:gap-5 ">

            
            <div class="bg-[#854d0e] w-44 h-44 flex items-center justify-center mx-auto   ">
                <div id="imagenPreview" class="bg-cover bg-center" >
                    <img class="w-44 h-44 " src="Recursos/Logo2.png" alt="">
                </div>

            </div>
        </div>
        <!-- mensaje-->
        <div class="grid grid-cols-1 gap-1 items-center justify-center p-2">
    <div class="flex items-center justify-center ">
      <h1 class="text-2xl p-2">¡MEOW!</h1>
    </div>

    <div class="flex items-center justify-center ">
      <h1 class="text-2xl ">Su registro fue exitoso</h1>
    </div>
    
  </div>
  <li><a style="font-family: 'Vibur', cursive;" class="text-2xl md: text-xl" href="./Registro.html">Regresar</a></li>
        </div>
        
    </div>
    
</div>



    </div>
</div>
</body> 
</html>